    <div class="container-card">
        <div class="card-father">
            <div class="card">
                <div class="card-front" style="background-image: url(./img/not1.png)">
                    <div class="bg"></div>
                    <div class="body-card-front">
                        <h3>Voluntariat de 4T d’ESO amb la residència SANTA RITA</h3>
                    </div>
                </div>

                <div class="card-back">
                    <div class="body-card-back">
                        <h5>Voluntariat de 4T d’ESO amb la residència SANTA RITA</h5>
                        <p>Els alumnes de quart d’ESO han fet arribar de nou el seu caliu a les persones usuàries de la Residència Santa Rita de Sabadell, entitat amb la que l’Institut col·labora des de fa temps amb activitats de voluntariat. Com que la situació de la pandèmia…</p>
                        <input type="button" value="Lllegir més">
                    </div>
                </div>
            </div>
        </div>

        <div class="card-father">
            <div class="card">
                <div class="card-front" style="background-image: url(./img/not2.png)">
                    <div class="bg"></div>
                    <div class="body-card-front">
                        <h3>Voluntariat de 4t d’ESO a AVAN</h3>
                    </div>
                </div>

                <div class="card-back">
                    <div class="body-card-back">
                        <h5>Voluntariat de 4t d’ESO a AVAN</h5>
                        <p>Una bona part dels alumnes de quart d’ESO han començant les vacances de Nadal amb una bona acció: duent a terme la tradicional col·laboració de l’Ins Pau Vila amb l’entitat AVAN (Associació Vallès amics de la Neurologia). Un grup de persones usuàries d’aquesta entitat han…</p>
                        <input type="button" value="Lllegir més">
                    </div>
                </div>
            </div>
        </div>

        <div class="card-father">
            <div class="card">
                <div class="card-front" style="background-image: url(./img/not3.png)">
                    <div class="bg"></div>
                    <div class="body-card-front">
                        <h3>El Quinto del Pau Vila</h3>
                    </div>
                </div>

                <div class="card-back">
                    <div class="body-card-back">
                        <h3>El Quinto del Pau Vila</h3>
                        <p>Ja ha arribat el Quinto del Pau Vila, podeu utilitzar aquesta aplicació per fer unes bones partides de sobretaula després dels àpats nadalencs. Molta sort!</p>
                        <input type="button" value="Lllegir més">
                    </div>
                </div>
            </div>
        </div>
    </div>