    <footer>
		<div class="container-footer-all">
	   		<div class="container-body">
	   			<div class="column1">
	   				<h1>Més informació sobre el lloc</h1>

	   				<p>El Centre va començar com a “Sección Delegada Mixta del Instituto Nacional de Enseñanza Media Masculino” de la ciutat de Sabadell, en el curs 1969-70. L’Ordre ministerial del 27 de juliol de 1970 (BOE nº 202, de 24 d’agost de 1970) deixa constància de la creació del nostre Institut com a “Instituto Nacional de Enseñanza Media Mixto”, adoptant el nom de l’insigne geògraf i pedagog sabadellenc Pau Vila.

					El primer director en funcions del Pau Vila, el Sr. Pepe Sanchís Sinisterra, més endavant premi nacional de teatre, explicà amb motiu del 25è aniversari del centre que “fa 25 anys no es podia posar el nom d’una persona viva a un institut, per això nosaltres, en demanar-ho, només vam adjuntar-hi la data del seu naixement”. Per aquest motiu el Ministeri va donar per entès que estava mort, tot i que en realitat no ho estava, era republicà i vivia a l’exili.
	   				</p>

	   			</div>

	   			<div class="column2">
	   				<h1>Xarxes Socials</h1>
	   				<div class="centre">
	   					<a href="https://twitter.com/inspauvila"><img src="./img/twitter.png"></a>
	   					<label>Segueix-nos a Twitter!</label>
	   				</div>

	   				<div class="centre">
	   					<a href="https://www.youtube.com/channel/UC92vKVUoIqEGvs6ZV6SJHtg"><img src="./img/youtube.png"></a>
	   					<label>Segueix-nos a YouTube!</label>
	   				</div>

	   				<div class="centre">
	   					<a href="https://www.instagram.com/inspauvila/"><img src="./img/instagram.png"></a>
	   					<label>Segueix-nos a Instagram!</label>
	   				</div>

	   				<div class="centre">
						<a href="https://www.facebook.com/inspauvila"><img src="./img/facebook.png"></a>
	   					<label>Segueix-nos a Facebook!</label>
	   				</div>
	   			</div>

	   			<div class="column3">
	   				<h1>Informació i Contacte</h1>

	   				<div class="row2">
	   					<img src="./img/house.png">
	   					<label>c. Viladomat, 118 
	   					08205 Sabadell</label>
	   				</div>

	   				<div class="row2">
	   					<img src="./img/smartphone.png">
	   					<label>Telèfon: 93 710 41 12
						Fax: 93 711 97 70</label>
	   				</div>

	   				<div class="row2">
	   					<img src="./img/contact.png">
	   					<label>a8024871@xtec.cat</label>
	   				</div>
				</div>

	   		</div>
   		</div>
		<div class="container-footer">
			<div class="footer">
	   			<div class="copyright">©2021 Generalitat de Catalunya</div>

	   			<div class="information"><a href="https://web.gencat.cat/ca/menu-ajuda/ajuda/avis_legal/">Avís legal</a> | <a href="https://agora.xtec.cat/nodes/">Sobre la web</a></div>
				</div>
			</div>
   	</footer>

</div>
</body>
</div>
<script src="https://kit.fontawesome.com/abe264cf93.js" crossorigin="anonymous"></script>
<script src="./JS/menu.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</html>